body
   {
      font-family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
   }
.primary-color
   {
      color: #FD6E0A;
   }
.header
   {
      background-color: #FFF8F3;
   }
/* Navbar Style */


nav
   {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 200px;
   }
nav>ul
   {
      display: flex;
      align-items: center;
   }
.nav-title
   {
      color: #181818;
      font-size: 45px;
      font-weight: 800;
   }
nav li
   {
      list-style: none;
      margin-right: 50px;
   }
li a
   {
      text-decoration: none;
      color: #474747;
   }
.btn-primary
   {
      border-radius: 5px;
      padding:5px;
      border: none;
      background-color: #FD6E0A;
   }
.banner
   {
      padding: 30px 30px 30px 150px;
      display: flex;
      align-items: center;
   }
.banner .profile-pic
   {
      width: 500px;
   }
