body
   {
      font-family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
   }
.primary-color
   {
      color: #FD6E0A;
   }

/* Navbar Style */


nav
   {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
nav>ul
   {
      display: flex;
      align-items: center;
   }
.nav-title
   {
      color: #181818;
      font-size: 45px;
      font-weight: 800;
   }
nav li
   {
      list-style: none;
      margin-right: 50px;
   }
li a
   {
      text-decoration: none;
      color: #474747;
   }
.Hire-btn
   {
      border-radius: 5px;
      padding:5px;
      border: none;
      background-color: #FD6E0A;
   }
